<%- include('../includes/head.ejs') %>
</head>
<body>
    <div class="row">
     <div class="col-md-6 alert-danger mt-10 mb-10 ">
      <h1 >Page Not Found!</h1>
     </div>
    </div>
<%- include('../includes/end.ejs') %>
